<%- layout('layout.ejs', { title: 'Thank You' }) %>
<main class="thanks">
  <div class="container">
    <h1>Thanks for joining us!</h1>
    <p>Your sign up is complete. We will send you updates on our new courses soon.</p>
    <a href="/" class="btn btn-primary">Back to Home</a>
  </div>
</main>
